<h1>Úvodní stránka</h1>
<p>Vítejte na portálu learnmachinelearn.cz. Tento portál vznikl v rámci diplomové práce na Vysoké škole ekonomické v Praze. Hlavním účelem tohoto portálu je přinést jednotné místo pro studium technik a algoritmů strojového učení v češtině.</p>


<h2>GitHub repositář</h2>
<a href="https://github.com/Gekocius/learnMachineLearn/tree/master/">Root</a><br>
<a href="https://github.com/Gekocius/learnMachineLearn/tree/master/src/app/algorhitms/genetic-alg">Genetické algoritmy</a><br>
<a href="https://github.com/Gekocius/learnMachineLearn/tree/master/src/app/algorhitms/neural-nets">Neuronové sítě</a><br>

<h2>Reference a další čtení (v angličtině)</h2>
<a href="http://neuralnetworksanddeeplearning.com/">Neuronové sítě</a><br>
<a href="https://towardsdatascience.com/introduction-to-genetic-algorithms-including-example-code-e396e98d8bf3">Úvod do genetických algoritmů</a><br>
<a href="https://towardsdatascience.com/evolution-of-a-salesman-a-complete-genetic-algorithm-tutorial-for-python-6fe5d2b3ca35">Genetické algoritmy a problém obchodního cestujícího</a><br>