<div fxFlex fxLayout="row" class="example">
    <div fxFlex id="p5sketch"></div>
    <div fxFlex class="control-panel">
        <mat-form-field>
          <mat-label>Mutační šance</mat-label>
          <input matInput min="0" max="1" step="0.1" type="number" (input)="updateMutationRate($event)">
        </mat-form-field>
        <button mat-raised-button (click)="runAlgorithm()">Spustit</button>
        <div class="state">
          <p>Počet generací: {{population.generationCount}}</p>
          <p>{{isRunningMessage}}</p>
        </div>
      </div>
</div>

