<mat-nav-list>
    <a mat-list-item routerLink="/" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Úvod</span>
    </a>
    <a mat-list-item routerLink="/geneticke-algoritmy" (click)="onSidenavClose()">
        <mat-icon>call_merge</mat-icon> <span class="nav-caption">Genetické algoritmy</span>
    </a>
    <a mat-list-item routerLink="/neuronove-site" (click)="onSidenavClose()">
        <mat-icon>timeline</mat-icon><span class="nav-caption">Neuronové sítě</span>
    </a>
</mat-nav-list>